/SwfLib.SwfMill.Tests/bin/
/SwfLib.SwfMill.Tests/obj/
/SwfLib.SwfMill.Tests/SwfLib.SwfMill.Tests.csproj.user

/SwfLib.SwfMill/bin/
/SwfLib.SwfMill/obj/
/SwfLib.SwfMill/SwfLib.SwfMill.csproj.user

/SwfLib.Tests/bin/
/SwfLib.Tests/obj/
/SwfLib.Tests/SwfLib.Tests.csproj.user

/SwfLib/bin/
/SwfLib/obj/
/SwfLib/SwfLib.csproj.user

/SwfLib.Avm2/bin/
/SwfLib.Avm2/obj/

/SwfLib.Tests.Asserts/bin/
/SwfLib.Tests.Asserts/obj/

/_ReSharper.SwfLib/
/_ReSharper.Caches/
/SwfLib.4.5.resharper.user
/SwfLib.suo
/SwfLib.v11.suo

/SwfLib.sln.DotSettings.user
/SwfLib.sln.DotSettings
/*.suo
/.vs/SwfLib/v14/*.suo
